<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="container">
    <h1>Wikiled<span class="k-icon k-i-dictionary-add k-icon-64"></span> </h1>
    <p class="lead">New Beta Dictionary</p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <app-selector></app-selector>
      <app-results words="'words'"></app-results>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  </div>
</div>


