<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="container">
    <h1>Wikiled<span class="k-icon k-i-email k-icon-48"></span> </h1>
    <p class="lead">New Beta Dictionary</p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <app-selector></app-selector>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  </div>
</div>


