<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5 from">
      <label [for]="from">From: </label>
      <kendo-autocomplete #from [data]="languages"                          
                          class="search"
                          [value]="toLanguage"
                          [placeholder]="'Language...'" >
      </kendo-autocomplete>
    </div>
    <div class="col-xs-12 col-sm-5 to">
      <label [for]="from">To: </label>
      <kendo-autocomplete #to [data]="languages"       
                          class="search"
                          [value]="fromLanguage"
                          [placeholder]="'Language...'">
      </kendo-autocomplete>
    </div>
    <div class="col-xs-12">
      <button kendoButton [primary]="true" (click)="onSearchClick()">Translate</button>
    </div>
  </div>
</div>
