<form class="container-fluid" (ngSubmit)="onSearch()" [formGroup]="form">
  <div class="row">
    <div class="col-xs-12 col-sm-6 fromlan">

      <label [for]="from">From: </label>
      <kendo-autocomplete #from id="from"
                          [data]="languages"
                          class="search"
                          name="from" formControlName="from"
                          [placeholder]="'Language...'">
      </kendo-autocomplete>
    </div>
    <div class="col-xs-12 col-sm-6 tolan">
      <label [for]="from">To: </label>
      <kendo-autocomplete #to id="to"
                          [data]="languages"
                          class="search"
                          name="to" formControlName="to"
                          [placeholder]="'Language...'">
      </kendo-autocomplete>
    </div>
  </div>
  <div class="input">
    <label [for]="word">Word:</label>
    <kendo-autocomplete #word id="word"
                        required
                        [filterable]="true"
                        [placeholder]="'e.g. Translation'"
                        name="word" formControlName="word">
    </kendo-autocomplete>
    <button kendoButton [primary]="true" [disabled]="form.invalid">Query</button>
  </div>
</form>

