<form class="container-fluid" (ngSubmit)="onSearch()" [formGroup]="form">
  <div class="row">
    <div class="col-xs-12 col-sm-6 fromlan">
      <label [for]="from">From: </label>        
      <kendo-dropdownlist #from id="from"
                          [data]="languages"                          
                          [filterable]="true"
                          name="from" formControlName="from" >
      </kendo-dropdownlist >
    </div>
    <div class="col-xs-12 col-sm-6 tolan">
      <label [for]="to">To: </label>      
      <kendo-dropdownlist #to id="to"
                          [data]="languages"                                                    
                          [filterable]="true"                          
                          name="to" formControlName="to" >
                    </kendo-dropdownlist >
    </div>
  </div>
  <div class="input">
    <label [for]="word">Word:</label>
    <kendo-autocomplete #word id="word"
                        required
                        [filterable]="true"
                        [placeholder]="'e.g. Translation'"
                        name="word" formControlName="word">
    </kendo-autocomplete>
    <button kendoButton [primary]="true" [disabled]="form.invalid">Query</button>
  </div>
</form>

